# Python venv
venv/
__pycache__/
*.pyc

# Build directories
build/
bin/

# Binaires C
serveur_mono
serveur_multi
test_queue

# Object files and dependencies
*.o
*.d

# Logs
logs/

# LaTeX
docs/*.aux
docs/*.log
docs/*.toc

