name: Validate Token Workflow
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Token validation OK
        run: echo "WORKFLOW PERMISSION OK"
